* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  background-color: #1d0a4c;
  height: 100vh;
  overflow: hidden;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
